.drawer-container {
  background-color: #111313;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: inherit;
  position: fixed;
  top: 0;
  left: -350px;
  transition: left 0.3s ease;
  z-index: 999;
}

.drawer-container.open {
  left: 0;
}

.drawer-title {
  margin: 10px auto 30px auto;
}

.drawer-title-divider {
  border-top: .3px solid #555;
  margin-top: 15px;
  margin-bottom: 15px;
}

.drawer-toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  background-color: #0A0B0B;
  padding: 12px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  z-index: 1000;
}

.drawer-toggle:hover {
  background-color: #111313;
}

.voice-select-label {
  margin-bottom: 0px;
}

.input-label {
  margin-bottom: 10px;
}

.checkbox-container {
  position: absolute;
  bottom: 60px;
  left: 70px;
}