:root {
  --darkest-grey: #111112;
  --darker-grey: #19191c;
  --dark-grey: #1f1f24;
  --main-grey: #282c34;
}

.button-animations {
  background-color: var(--dark-grey);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.button-animations-transition {
  transition: all 0.2s ease-out;
}

.button-animations:hover {
  background-color: var(--darker-grey);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.button-animations:active {
  transform: scale(0.98);
}

/* Heartbeat Animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.2);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(var(1));
  }

  100% {
    transform: scale(var(1));
  }
}

.heartbeat {
  transition: transform 1s;
}

.heartbeat-animate {
  animation: heartbeat 1.5s infinite;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.rotate {
  animation: rotateInfinite 8s linear infinite;
}

.rotate:hover {
  animation: rotateInfinite 3s linear infinite;
}
